---
- name: add buster repo and update cache
  apt_repository:
    repo: deb http://deb.debian.org/debian/ buster main
    state: present
  delegate_to: bind-host
  run_once: true

- name: setup apt pinning for openssh-client
  copy:
    src: apt-preferences.d/{{ item }}
    dest: /etc/apt/preferences.d/{{ item }}
  loop:
    - default
    - openssh-client
  delegate_to: bind-host
  run_once: true

- name: install openssh-client/buster
  apt:
    name: openssh-client
    state: latest
    default_release: buster
  delegate_to: bind-host
  run_once: true

- name: generate SSHFP records
  shell: |
    echo "[ '{{ install_ssh_records_host }}', ["
    ssh-keyscan -D -p {{ install_ssh_records_port }} {{ install_ssh_records_host }} | while read record IN SSHFP value ; do
       echo "'$value',"
    done
    echo '] ]'
  delegate_to: bind-host
  changed_when: false
  register: cmd

- name: install SSHFP records
  nsupdate:
    server: localhost
    zone: "{{ domain }}"
    record: "{{ sshfp.0 }}"
    ttl: 604800
    type: SSHFP
    value: "{{ sshfp.1 }}"
  vars:
    sshfp: "{{ cmd.stdout }}"
  delegate_to: bind-host
  notify: reload bind
