#!/bin/bash

set $SSH_ORIGINAL_COMMAND

ns_ip=$1
subdomain=$2

echo Creating "$subdomain"

nsupdate <<EOF
  server localhost
  zone test.{{ domain }}
  update add ns-$subdomain. 1800 A $ns_ip
  update add $subdomain. 1800 NS ns-$subdomain.
  show
  send
  quit
EOF
