#!/bin/bash

set -e

echo ======================================================================
date
echo ======================================================================

cd /srv/website
git fetch

git pull
git sync
git submodule update --init --recursive --remote
hugo --baseURL="https://{{ website_vhost_fqdn }}/"
rsync -av --delete public/ /var/www/html/
