#!/bin/bash

set -e

echo ======================================================================
date
echo ======================================================================

cd /srv/website
git fetch

git pull
git submodule sync
git submodule update --init --recursive
hugo --baseURL="https://{{ website_vhost_fqdn }}/"
rsync -av --delete public/ /usr/share/nginx/html/
