*~
/clouds.yml
*.retry
__pycache__
.cache
pytestdebug.log
docs/_build/
inventories/common/01-hosts.yml
private-key.yml
*.pyc
infrastructure_key*
secret
inventories/common/group_vars/all/domain.yml
openrc.sh
inventories/01-hosts.yml
