[submodule "roles/ansible-role-docker"]
	path = molecule/infrastructure/roles/ansible-role-docker
	url = https://github.com/geerlingguy/ansible-role-docker
        branch = 2.5.2
[submodule "molecule/jdauphant.nginx/roles/jdauphant.nginx"]
	path = molecule/jdauphant.nginx/roles/jdauphant.nginx
	url = https://github.com/jdauphant/ansible-role-nginx.git
[submodule "molecule/wazuh/wazuh-ansible"]
	path = molecule/wazuh/wazuh-ansible
	url = https://lab.enough.community/main/wazuh-ansible
[submodule "molecule/debops"]
	path = molecule/debops
	url = https://github.com/debops/debops
