*~
*.retry
__pycache__
.cache
pytestdebug.log
docs/_build/
inventories/common/01-hosts.yml
*.pyc
infrastructure_key*
secret
inventories/common/group_vars/all/domain.yml
inventories/common/group_vars/all/clouds.yml
openrc.sh
inventories/01-hosts.yml
.tox
.coverage
src
build
*.egg-info
dist
