ansible==2.7.5
pip-tools==3.2.0
molecule==2.16.0
shade==1.30.0
sphinx
# we need 1.7.1 otherwise it fails but ... molecule wants 1.6.3 so we need
# to patch requirements.txt manually. Debugging conflicts requires running
# pip-compile --verbose because of https://github.com/jazzband/pip-tools/issues/220
testinfra
openstacksdk==0.22.0
netaddr==0.7.19
-e git+https://github.com/fmnisme/python-icinga2api.git@9a1a3cc7968d6c72bf49e97ef387b2824e6835e9#egg=icinga2api
