ansible==2.7.5
cliff>=2.14
jinja2>=1.1
molecule==2.16.0
netaddr==0.7.19
openstacksdk==0.22.0
requests>=2.21
sh>=1.12
shade==1.30.0
-e git+https://github.com/fmnisme/python-icinga2api.git@9a1a3cc7968d6c72bf49e97ef387b2824e6835e9#egg=icinga2api
