---
OS_AUTH_URL: "https://auth.cloud.ovh.net/v2.0/"
OS_TENANT_NAME: "X"
OS_USERNAME: "X"
OS_PASSWORD: "X"
OS_REGION_NAME: "X"

# molecule login --host ansible_host is run from the root of the repo
ssh_private_keyfile: ../../id_rsa
# molecule create is run from molecule/infrastructure
ssh_public_keyfile: ../../id_rsa.pub
