MAILTO=""

*/5 * * * * cd /srv/weblate; flock --timeout 600 /tmp/weblate sudo docker-compose -f docker-compose-infrastructure.yml run --rm weblate update_index
@daily cd /srv/weblate; flock --timeout 600 /tmp/weblate sudo docker-compose -f docker-compose-infrastructure.yml run --rm weblate cleanuptrans
@hourly cd /srv/weblate; flock --timeout 600 /tmp/weblate sudo docker-compose -f docker-compose-infrastructure.yml run --rm weblate commit_pending --all --age=1
